body{
	background: #d7d7d7;
	height: 100%;
	margin: 0;
	padding: 10px;
}
table {
	float: left;
	background: #d7d7d7;
	color: #333;
}

.img-container {
	position: relative;
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

.img-container .top {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}
